@page "/"
@using SourceGeneration.States
@using BlazorStates.Client.States
@inject IScopedState<MyState> State
@implements IDisposable

<PageTitle>Home</PageTitle>

<h1>Count: @Count</h1>

<button @onclick="Click">Add</button>

@code{
    private int Count;

    protected override void OnInitialized()
    {
        State.Bind(x => x.Count, x => Count = x);
        State.SubscribeBindingChanged(StateHasChanged);
    }

    private void Click()
    {
        State.Update(x => x.Count++);
    }

    public void Dispose()
    {
        State.Dispose();
    }
}
